.gauge {
  .background-arc {
    .arc {
      cursor: pointer;
    }
    path {
      fill: #ddd;
    }
  }

  .arc {
    cursor: default;
    &:hover {
      opacity: 1;
    }
  }

  .pointer path {
    stroke-width: 1px;
    stroke: #444;
    fill: #777;
  }
}
