.gauge .background-arc .arc {
  cursor: pointer; }

.gauge .background-arc path {
  fill: #ddd; }

.gauge .arc {
  cursor: default; }
  .gauge .arc:hover {
    opacity: 1; }

.gauge .pointer path {
  stroke-width: 1px;
  stroke: #444;
  fill: #777; }
